.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 28px;
}

.p-dialog .p-dialog-footer{
    padding-bottom: -10px;
    border: none
}