.p-datatable .p-datatable-thead > tr > th {
  color: darkblue;
}


.users-list__title{
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 32.81px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: rgba(47, 127, 213, 1);
  margin-left: 10px;


}

.users-list{
  margin-top: 15px;
}

.users-list__control-panel{
  margin-bottom: 30px;
  margin-left: 10px;
}

.btn-add{
  width: 20px;
}

.name-table:hover{
  color: blue;
  cursor: pointer;
}